# Dependencies
/node_modules
/.pnp
.pnp.js

# VScode
.vscode/

# Build Output
/dist
/build

# Environment Variables
.env
.env*.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
.nyc_output

# IDEs and editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 